/node_modules
/storage/logs
/storage/app/public
/storage/framework
/public/mix-manifest.json
/storage/*.dump
/storage/*.xlsx
/storage/*.xlsm/storage/*.xlsm/storage/*.xlsm/storage/*.xlsm/storage/*.xlsm/storage/*.xlsm/storage/*.xlsm
public/mix-manifest.json
public/MDB
package-lock.json
/vendor
.env
.env.backup
*.DS_STORE
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
bootstrap/cache/.gitignore
package-lock.json
